ikhlaq.csv
patentlist.txt
.#bm-gs.py
.goutputstream-5G9IGW
benchmark_errors.txt
grep_scrpt.sh
nancy_list.txt
berkeleyinventors1.csv
goldstandard/berkeleyinventors2.csv
test/goldstandard/csv/
test/goldstandard/ikhlaq.csv
benchmark.sh
